html,
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Billabong";
  background: #fafafa;
  font-size: 14px;
  
}
@font-face {
  font-family: "Billabong";
  src: url("/fonts/Billabong.ttf");
}
@font-face {
  font-family: "Amsterdam";
  src: url("/fonts/Amsterdam.ttf");
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.username{
  font-weight: 600;
}
img{
  object-fit: cover;
}
/* input field */
.labelContainer > label {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
  position: relative;
}

.labelName {
  font-size: 12px;
  position: absolute;
  line-height: 35px;
  pointer-events: none;
  left: 4px;
  color: #b2b2d5;
  transition: transform ease-out 0.1s;
}
.input {
  height: 35px;
  padding: 17px 6px 1px;
  font-size: 12px;
  border: 1px solid #dbdbdb;
}
.input:focus {
  border: 1px solid #8e8e8e;
}

.input:focus + .labelName,
.input:valid + .labelName {
  transform: scale(0.8333) translateY(-10px);
}
/* error */
.error{
  font-size: 13px;
  color: #ee3131;
}
/* sign in and sign up page */

.container {
  display: flex;
  justify-content: center;
}

.box {
  text-align: center;
  margin-top: 50px;
}

.instagram {
  width: 175px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  padding: 9px 40px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  width: 350px;
}
.instaHeader {
  margin-bottom: 30px;
}
.button {
  padding: 5px;
  background: #0095f6;
  color: #ffffff;
  border: none;
  display:flex;
  justify-content: center;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  min-height: 26px;
  align-items: center;
}
.button:disabled{
  background: #0068ac;
}

.smallBox {
  font-size: 14px;
  background: #ffffff;
  margin-top: 43px;
  padding: 7px;
  border: 1px solid #dbdbdb;
  font-weight: 300;
}
.signUpLink {
  color: #00b8f9;
  margin-left: 10px;
  font-weight: 600;
}
.facebook {
  color: #5e5185;
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 14px;
}

.fbLogo {
  position: relative;
  top: 6px;
  margin-right: 8px;
}
.fbLink {
  font-size: 14px;
  font-family: Segoe UI;
}
.border {
  display: flex;
  margin-top: 10px;
}
.hr {
  background: #b3b3b3;
  flex-grow: 1;
  flex-shrink: 1;
  height: 1px;
  position: relative;
  top: 10px;
  opacity: 0.4;
}
.middle {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0px 14px;
  color: #babcbd;
}

.store {
  height: 40px;
  margin: 0 12px;
}

@media screen and (max-width: 450px) {
  .smallBox,
  .formContainer {
    background: transparent;
    border: none;
  }
  .formContainer {
    margin-top: 0;
  }
}
